body {
  margin: 0;
}

.nav-bar {
  background-color: hotpink;
  height: 80px;
  padding: 0 100px;
}

.nav-wrapper {
  width: 70%;
  margin: 0 auto;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  height: 100%;
  background-color: salmon;
  width: 60px;
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-list li {
  margin-right: 40px;
}

.nav-list li:last-of-type {
  margin: 0;
}

#content-grid {
  background-color: lightgrey;
  padding: 100px;
}

#wrapper {
  width: 70%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-template-areas:
    "red card-1 card-2"
    "red card-3 card-4";
  gap: 20px;
}

.red {
  background-color: red;
  grid-area: red;
}

.blue {
  background-color: blue;
  height: 300px;
}

.card-1 {
  grid-area: card-1;
}
.card-2 {
  grid-area: card-2;
}
.card-3 {
  grid-area: card-3;
}
.card-4 {
  grid-area: card-4;
}
