#wrapper {
  width: 70%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-template-areas:
    "red card-1 card-2"
    "red card-3 card-4";
  gap: 20px;
}

.red {
  background-color: red;
  grid-area: red;
}

.blue {
  background-color: blue;
  height: 300px;
}

.card-1 {
  grid-area: card-1;
}
.card-2 {
  grid-area: card-2;
}
.card-3 {
  grid-area: card-3;
}
.card-4 {
  grid-area: card-4;
}
